<app-scrollup></app-scrollup>
<div class="main">
    <app-header-three></app-header-three>
    <app-welcome-three></app-welcome-three>
    <app-promo-one></app-promo-one>
    <app-comparison-two></app-comparison-two>
    <app-service-three></app-service-three>
    <app-discover-three></app-discover-three>
    <app-features-one></app-features-one>
    <app-reviews-one></app-reviews-one>
    <app-download></app-download>
    <app-faq-one></app-faq-one>
    <app-contact-one></app-contact-one>
    <app-footer-one></app-footer-one>
</div>