<section id="home" class="section welcome-area bg-inherit h-100vh overflow-hidden">
    <div class="shapes-container">
        <div class="bg-shape"></div>
    </div>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-7">
                <div class="welcome-intro">
                    <span class="d-inline-block text-capitalize font-italic fw-3 mb-2">The next generation landing page</span>
                    <h1 class="text-capitalize">Get <span class="fw-3">Prolend</span> Product landing page</h1>
                    <p class="my-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex">
                        <a class="btn prolend-primary" href="#">Get the App</a>
                        <a class="btn prolend-primary style-two" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb thumb-animated">
                    <img src="assets/img/welcome_mockup.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>