<section class="section service-area bg-gray overflow-hidden ptb_100">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6">
                <!-- Service Text -->
                <div class="service-text pt-4 pt-lg-0">
                    <h2 class="promo-text mb-4">Get more out of Prolend Watch</h2>
                    <!-- Service List -->
                    <ul class="service-list">
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="feature-icon text-primary align-self-center pr-4">
                                <span><i class="fas fa-check-circle fa-2x"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="feature-icon text-primary align-self-center pr-4">
                                <span><i class="fas fa-check-circle fa-2x"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Customizable design dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="feature-icon text-primary align-self-center pr-4">
                                <span><i class="fas fa-check-circle fa-2x"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Drop ipsum dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="feature-icon text-primary align-self-center pr-4">
                                <span><i class="fas fa-check-circle fa-2x"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Marketing chart dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</p>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn prolend-btn mt-4">Learn More</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Service Thumb -->
                <div class="service-thumb mx-auto text-center pt-4 pt-lg-0">
                    <img src="assets/img/feature_thumb_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>