<section id="features" class="section product-features-area overflow-hidden ptb_100">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-5">
                <!-- Product Features Thumb -->
                <div class="product-features-thumb mx-auto d-none d-lg-block">
                    <img src="assets/img/feature_thumb_3.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <!-- Product Features Text -->
                <div class="product-features-text pt-4 pt-lg-0">
                    <h2 class="promo-text">Technical Specs.</h2>
                    <p class="pt-3 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolor ut iusto vitae autem neque eum ipsam, impedit asperiores vel cumque laborum dicta repellendus inventore voluptatibus et explicabo nobis unde.</p>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box p-3">
                                <!-- Featured Icon -->
                                <div class="featured-icon mb-3">
                                    <span class="flaticon-tap"></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text">
                                    <h3 class="mb-2">Fully functional</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box p-3">
                                <!-- Featured Icon -->
                                <div class="featured-icon mb-3">
                                    <span class="flaticon-fingerprint"></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text">
                                    <h3 class="mb-2">Secure Data</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box p-3">
                                <!-- Featured Icon -->
                                <div class="featured-icon mb-3">
                                    <span class="flaticon-chat"></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text">
                                    <h3 class="mb-2">Instant Chat</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box p-3">
                                <!-- Featured Icon -->
                                <div class="featured-icon mb-3">
                                    <span class="flaticon-notification"></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text">
                                    <h3 class="mb-2">Live Notification</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box p-3">
                                <!-- Featured Icon -->
                                <div class="featured-icon mb-3">
                                    <span class="flaticon-wifi"></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text">
                                    <h3 class="mb-2">Wifi Support</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box p-3">
                                <!-- Featured Icon -->
                                <div class="featured-icon mb-3">
                                    <span class="flaticon-app"></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text">
                                    <h3 class="mb-2">App Watch</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>