<section class="review-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">10k+ Customer's Trust Us</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-7">
                <div class="reviews owl-carousel">
                    <!-- Single Review -->
                    <div class="single-review text-center">
                        <!-- Review Text -->
                        <p class="review-text">
                            <img class="avatar mr-2" src="assets/img/quote.png" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, quas. Ad minus voluptatibus corporis eaque deleniti, quam, voluptates quidem similique tenetur reiciendis libero atque hic expedita officia provident perferendis.
                        </p>
                        <!-- Reviewer -->
                        <div class="reviewer p-4">
                            <!-- Reviewer Thumb -->
                            <div class="reviewer-thumb">
                                <img class="avatar-lg mx-auto radius-100" src="assets/img/avatar_1.png" alt="">
                            </div>
                            <!-- Reviewer Media -->
                            <div class="reviewer-meta mt-3">
                                <h5 class="reviewer-name mb-2">Junaid Hasan</h5>
                                <h6 class="text-secondary fw-6">CEO, Themeland</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Single Review -->
                    <div class="single-review text-center">
                        <!-- Review Text -->
                        <p class="review-text">
                            <img class="avatar mr-2" src="assets/img/quote.png" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, quas. Ad minus voluptatibus corporis eaque deleniti, quam, voluptates quidem similique tenetur reiciendis libero atque hic expedita officia provident perferendis.
                        </p>
                        <!-- Reviewer -->
                        <div class="reviewer p-4">
                            <!-- Reviewer Thumb -->
                            <div class="reviewer-thumb">
                                <img class="avatar-lg mx-auto radius-100" src="assets/img/avatar_2.png" alt="">
                            </div>
                            <!-- Reviewer Media -->
                            <div class="reviewer-meta mt-3">
                                <h5 class="reviewer-name mb-2">Yasmin Akter</h5>
                                <h6 class="text-secondary fw-6">Co-Founder, Themeland</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Single Review -->
                    <div class="single-review text-center">
                        <!-- Review Text -->
                        <p class="review-text">
                            <img class="avatar mr-2" src="assets/img/quote.png" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, quas. Ad minus voluptatibus corporis eaque deleniti, quam, voluptates quidem similique tenetur reiciendis libero atque hic expedita officia provident perferendis.
                        </p>
                        <!-- Reviewer -->
                        <div class="reviewer p-4">
                            <!-- Reviewer Thumb -->
                            <div class="reviewer-thumb">
                                <img class="avatar-lg mx-auto radius-100" src="assets/img/avatar_3.png" alt="">
                            </div>
                            <!-- Reviewer Media -->
                            <div class="reviewer-meta mt-3">
                                <h5 class="reviewer-name mb-2">Md. Arham</h5>
                                <h6 class="text-secondary fw-6">SEO Expert, Themeland</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>