<section class="section discover-area overflow-hidden ptb_100">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Discover Thumb -->
                <div class="service-thumb discover-thumb mx-auto text-center pt-4 pt-lg-0">
                    <img src="assets/img/feature_thumb_2.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <!-- Discover Text -->
                <div class="discover-text pt-4 pt-lg-0">
                    <h2 class="promo-text">Get up to $100 for your Prolend Watch Series 2 or Series 3.</h2>
                    <p class="pt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <a href="#" class="btn prolend-btn mt-4">Shop now to get reward</a>
                </div>
            </div>
        </div>
    </div>
</section>