<section class="comparison-area bg-gray ptb_100 overflow-scroll">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Compare Products to get more value</h2>
                    <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                    <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-responsive-lg table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="h3 text-primary" scope="col"></th>
                      <th class="text-primary text-center" scope="col">
                          <div class="product-thumb mx-auto text-center">
                              <img src="assets/img/thumb_1.png" alt="">
                          </div>
                          <div class="card-body product-body">
                              <h3 class="pb-2">Prolend Watch 2</h3>
                              <h6>For Man &amp; Woman</h6>
                          </div>
                      </th>
                      <th class="text-primary text-center" scope="col">
                          <div class="product-thumb mx-auto text-center">
                              <img src="assets/img/thumb_2.png" alt="">
                          </div>
                          <div class="card-body product-body">
                              <h3 class="pb-2">Smart Headphone</h3>
                              <h6>For Man &amp; Woman</h6>
                          </div>
                      </th>
                      <th class="text-primary text-center" scope="col">
                          <div class="product-thumb mx-auto text-center">
                              <img src="assets/img/thumb_3.png" alt="">
                          </div>
                          <div class="card-body product-body">
                              <h3 class="pb-2">Prolend Watch Pro</h3>
                              <h6>For Man</h6>
                          </div>
                      </th>
                      <th class="text-primary text-center" scope="col">
                          <div class="product-thumb mx-auto text-center">
                              <img src="assets/img/thumb_4.png" alt="">
                          </div>
                          <div class="card-body product-body">
                              <h3 class="pb-2">Beats Headphone</h3>
                              <h6>For Man &amp; Woman</h6>
                          </div>
                      </th>
                    </tr>
                    <tr>
                      <th class="h3 text-primary" scope="col">Price</th>
                      <th class="h3 text-primary text-center" scope="col">$47</th>
                      <th class="h3 text-primary text-center" scope="col">$99</th>
                      <th class="h3 text-primary text-center" scope="col">$149</th>
                      <th class="h3 text-primary text-center" scope="col">$129</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Brand</th>
                      <td class="text-center">Prolend Watch 2</td>
                      <td class="text-center">Smart Headphone</td>
                      <td class="text-center">Prolend Watch Pro</td>
                      <td class="text-center">Beats Headphone</td>
                    </tr>
                    <tr>
                      <th scope="row">Color</th>
                      <td class="text-center">Black</td>
                      <td class="text-center">White</td>
                      <td class="text-center">Blue</td>
                      <td class="text-center">Black</td>
                    </tr>
                    <tr>
                      <th scope="row">Compatible with</th>
                      <td class="text-center">Android 5.0</td>
                      <td class="text-center">Android 5.0, iOS9 and above</td>
                      <td class="text-center"></td>
                      <td class="text-center">Android 5.0, iOS9 and above</td>
                    </tr>
                    <tr>
                      <th scope="row">Item Dimensions</th>
                      <td class="text-center">9 x 3.01 x 0.79 in</td>
                      <td class="text-center">7 x 5.03 x 0.63 in</td>
                      <td class="text-center">10 x 2.01 x 0.21 in</td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <th scope="row">Item Weight</th>
                      <td class="text-center">0.7 lb</td>
                      <td class="text-center">2.4 ounces</td>
                      <td class="text-center">0.9 lb</td>
                      <td class="text-center">3.8 ounces</td>
                    </tr>
                    <tr>
                      <th scope="row">Operating System</th>
                      <td class="text-center">iOS</td>
                      <td class="text-center">iOS, Android</td>
                      <td class="text-center">Android</td>
                      <td class="text-center">iOS, Android</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</section>