<div class="homepage-5">
    <app-scrollup></app-scrollup>
    <div class="main">
        <app-header-two></app-header-two>
        <app-welcome-five></app-welcome-five>
        <app-service-four></app-service-four>
        <app-discover-four></app-discover-four>
        <app-products-two></app-products-two>
        <app-cta-one></app-cta-one>
        <app-reviews-one></app-reviews-one>
        <app-download></app-download>
        <app-faq-one></app-faq-one>
        <app-contact-one></app-contact-one>
        <app-footer-one></app-footer-one>
    </div>
</div>