<div class="homepage-4">
    <app-scrollup></app-scrollup>
    <div class="main">
        <app-header-two></app-header-two>
        <app-welcome-four></app-welcome-four>
        <app-products-two></app-products-two>
        <app-service-two></app-service-two>
        <app-discover-two></app-discover-two>
        <app-cta-two></app-cta-two>
        <app-features-three></app-features-three>
        <app-reviews-one></app-reviews-one>
        <app-download></app-download>
        <app-faq-one></app-faq-one>
        <app-contact-one></app-contact-one>
        <app-footer-one></app-footer-one>
    </div>
</div>