<section id="products" class="products-area bg-gray ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">We have Quality Products</h2>
                    <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                    <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="products owl-carousel">
                <!-- Product Card -->
                <div class="card product-card text-center rounded">
                    <!-- Product Thumb -->
                    <img class="product-thumb mx-auto pt-3" src="assets/img/thumb_1.png" alt="">
                    <!-- Card Body -->
                    <div class="card-body py-4">
                        <h3>Prolend Watch 2 Pro</h3>
                        <h4 class="text-primary py-2">$149.00</h4>
                        <!-- Product Features -->
                        <ul class="product-features">
                            <li>Amoled Display</li>
                            <li>Retina Ready</li>
                            <li>Enfold Design</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <!-- Product Card -->
                <div class="card product-card text-center rounded">
                    <!-- Product Thumb -->
                    <img class="product-thumb mx-auto pt-3" src="assets/img/thumb_2.png" alt="">
                    <!-- Card Body -->
                    <div class="card-body py-4">
                        <h3>Smart Headphone</h3>
                        <h4 class="text-primary py-2">$129.00</h4>
                        <!-- Product Features -->
                        <ul class="product-features">
                            <li>Amoled Display</li>
                            <li>Retina Ready</li>
                            <li>Enfold Design</li>
                            <li>Gorgeous Style</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <!-- Product Card -->
                <div class="card product-card text-center rounded">
                    <!-- Product Thumb -->
                    <img class="product-thumb mx-auto pt-3" src="assets/img/thumb_3.png" alt="">
                    <!-- Card Body -->
                    <div class="card-body py-4">
                        <h3>Prolend Watch 3</h3>
                        <h4 class="text-primary py-2">$169.00</h4>
                        <!-- Product Features -->
                        <ul class="product-features">
                            <li>Amoled Display</li>
                            <li>Retina Ready</li>
                            <li>Enfold Design</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <!-- Product Card -->
                <div class="card product-card text-center rounded">
                    <!-- Product Thumb -->
                    <img class="product-thumb mx-auto pt-3" src="assets/img/thumb_4.png" alt="">
                    <!-- Card Body -->
                    <div class="card-body py-4">
                        <h3>Beats Headphone</h3>
                        <h4 class="text-primary py-2">$190.00</h4>
                        <!-- Product Features -->
                        <ul class="product-features">
                            <li>Amoled Display</li>
                            <li>Retina Ready</li>
                            <li>Enfold Design</li>
                            <li>Great UI</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <!-- Product Card -->
                <div class="card product-card text-center rounded">
                    <!-- Product Thumb -->
                    <img class="product-thumb mx-auto pt-3" src="assets/img/thumb_4.png" alt="">
                    <!-- Card Body -->
                    <div class="card-body py-4">
                        <h3>Beats Headphone</h3>
                        <h4 class="text-primary py-2">$190.00</h4>
                        <!-- Product Features -->
                        <ul class="product-features">
                            <li>Amoled Display</li>
                            <li>Retina Ready</li>
                            <li>Enfold Design</li>
                            <li>Great UI</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>