<section class="section download-area overlay-dark ptb_100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-7">
                <!-- Download Text -->
                <div class="download-text">
                    <h2 class="text-white">Download our Apps</h2>
                    <p class="text-white my-3 d-none d-lg-block">Prolend is available for all devices, consectetur adipisicing elit. Itaque at harum quam explicabo. Aliquam optio, delectus, dolorem quod neque eos totam. Delectus quae animi tenetur voluptates doloribus commodi dicta modi aliquid deserunt, quis maiores nesciunt autem, aperiam natus.</p>
                    <p class="text-white my-3 d-block d-lg-none">Prolend is available for all devices, consectetur adipisicing elit. Vel neque, cumque. Temporibus eligendi veniam, necessitatibus aut id labore nisi quisquam.</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex">
                        <a href="#">
                            <img src="assets/img/google_play.png" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/app_store.png" alt="">
                        </a>
                    </div>
                    <span class="d-inline-block text-white fw-3 font-italic mt-3">* Available on iPhone, iPad and all Android devices</span>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <!-- Download Thumb -->
                <div class="download-thumb pl-4 d-block d-lg-none">
                    <img src="assets/img/download_thumb.png" alt="">
                </div>
            </div>
        </div>
        <!-- Download Thumb LG -->
        <div class="download-thumb-lg pl-4 d-none d-lg-block">
            <img src="assets/img/download_thumb.png" alt="">
        </div>
    </div>
</section>