<section class="promo-video-area">
    <div class="container h-100">
        <div class="row h-100 justify-content-center pt-4 pt-md-0">
            <div class="col-12 col-md-10 col-lg-9 h-100">
                <div class="video-promo bg-overlay d-flex justify-content-center align-items-center h-100 overflow-hidden">
                    <!-- Play Button -->
                    <a class="play-btn" data-fancybox href="https://www.youtube.com/watch?v=hs1HoLs4SD0">
                        <div class="btn-circle play-animation"></div>
                        <div class="btn-circle play-animation animation-short"></div>
                        <!-- Play Icon -->
                        <div class="play-icon">
                            <i class="fas fa-play"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>