<section id="home" class="section welcome-area bg-overlay h-100vh overflow-hidden">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-8">
                <div class="welcome-intro text-center">
                    <h1 class="text-white">Premium technology enhances the live experience</h1>
                    <p class="text-white my-4">Sit back, relax and prepare to experience a new level of audio excellence. These headphones combine cutting-edge technology with the finest craftsmanship, for the ultimate listening experience.</p>
                    <!-- Subscribe Form -->
                    <div class="subscribe-form d-flex justify-content-center align-items-center">
                        <input type="email" class="form-control" placeholder="info@yourmail.com">
                        <button type="submit" class="btn btn-bordered">Get the App</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shape Bottom -->
    <div class="shape-bottom">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="612px" height="96px" viewBox="0 0 612 96" enable-background="new 0 0 612 96" xml:space="preserve">
        <path fill="#FFFFFF" d="M-2.5,46.5C100.25,79.83,203,96.495,305.75,96.495S511.25,79.83,614,46.5V97H-2.5V46.5z"/>
        </svg>
    </div>
</section>