<section class="section cta-area overlay-white overflow-hidden ptb_150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <!-- Call To Action Text -->
                <div class="cta-text text-center pt-4 pt-lg-0">
                    <h2 class="mb-4">Enfolding design structure</h2>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                    <a href="#" class="btn prolend-btn mt-4">Find all your favorite band</a>
                </div>
            </div>
        </div>
    </div>
</section>