<section id="products" class="section promo-area style-two products-area overflow-hidden ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 res-margin">
                <div class="image-box product-card overflow-hidden">
                    <img class="d-block w-100" src="assets/img/product_thumb_1.png" alt="">
                    <div class="card-body p-4">
                        <ul>
                            <li>High-Resolution Audio compatible</li>
                            <li>Smart listening experience by Adaptive Sound Control</li>
                            <li>Ergonomic, enfolding design earpads</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 res-margin">
                <div class="image-box product-card overflow-hidden">
                    <img class="d-block w-100" src="assets/img/product_thumb_2.png" alt="">
                    <div class="card-body p-4">
                        <ul>
                            <li>High-Resolution Audio compatible</li>
                            <li>Smart listening experience by Adaptive Sound Control</li>
                            <li>Ergonomic, enfolding design earpads</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="image-box product-card overflow-hidden">
                    <img class="d-block w-100" src="assets/img/product_thumb_3.png" alt="">
                    <div class="card-body p-4">
                        <ul>
                            <li>High-Resolution Audio compatible</li>
                            <li>Smart listening experience by Adaptive Sound Control</li>
                            <li>Ergonomic, enfolding design earpads</li>
                        </ul>
                    </div>
                    <!-- Product Order -->
                    <div class="product-order">
                        <!-- Order Button -->
                        <div class="order-btn d-flex flex-wrap justify-content-center">
                            <a class="btn prolend-primary style-two m-2" href="#">View Details</a>
                            <a class="btn prolend-primary m-2" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>